link(rel="stylesheet", href="/css/style.css")
div(class="container-404")
    h1(class="title-404") 404 
    h3(class="content-404") Oops! Trang không tìm thấy    
    div(class="content2-404") Xin lỗi, trang bạn đang tìm kiếm không tồn tại hoặc đã bị di chuyển.
    button(
        class="button-404"
        onclick="history.back()"
    ) Quay lại